.movieForm {
  display: flex;
  flex-direction: column;
  /* width: 30vh; */
  align-items: center;
  justify-content: center;
}

.movieForm {
  margin: auto;
  padding: 20px 20px;
}

.labels {
  font-size: 25px;
  padding: 10px 10px;
  color: rgb(68, 50, 152);
}

.inputs {
  font-size: 15px;
  padding: 5px 5px;
  margin: 10px;
  color: antiquewhite;
}
